#contenedor{
	width: 900px;
	margin: auto;
	margin-top: 20px;
	overflow: hidden;
	margin-bottom: 20px;
    background: #d1d1d3;
}

body{
    width: 1000px;
	margin: auto;
	background: #9e9ea0;
}

header{
	width: 900px;
	height: 120px;
	background: #ffffff;
	border-radius: 20px;
	float:left;
	overflow: hidden;
}

nav{
	width: 900px;
	height: 100px;
	background: #ffffff;
	float: left;
	border-radius: 20px;
	margin-top: 20px; 
}	

section{
	width: 620px;
	background: #FFFFFF;
	height: 400px;
	float: left;
	margin: 20px 0px 20px 0px;
	border-radius: 10px;
	padding: 10px;	
}
article{
    width: 570px;
	background: #d4d3d3;
	height: 50px;
	float: left;
	margin: 20px 0px 20px 0px;
	border-radius: 10px;
	padding: 10px;
}

aside{
	width: 210px;
	background: #FFFFFF;
	height: 400px;
	float: right;
	margin-left: 20px;
	margin: 20px 0px 20px 20px;
	border-radius: 10px;
	padding: 10px;
}

footer{
	width: 900px;
	height: 70px;
	background: #fdfdfd;
	border-radius: 10px;
	margin: 20px 0 20px 0; 
    overflow:hidden;

}